@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body{
  margin: 0;
}
.black_page{
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 1;
  background-color: black;
  position:fixed;
}
.white_page{
  width: 100vw;
  height: 80vh;
  margin: 0;
  z-index: 2;
  background-color: white;
}
h1{
  position: absolute ;
  top: 50%;
  left: 50%;
  text-align:center;
  font-size: 10vw;
  /* margin: auto; */
  /* margin-top: 106px;
  margin-bottom: 137px; */
  font-family: Raleway;
  font-weight: 900;
  line-height: 270px;
  letter-spacing: 130px;
  margin: 0;
  transform: translate(-50%,-50%);
  text-indent: 130px;
}
.Opt{
  color: white
}